*__pycache__/
.vscode/
*.pytest_cache/
*.vscode
.env
*.pyc
*.egg-info
.cache
build/
# ===== 補強 =====
.env
.env.host
.env.local
*.swp
*.swo
.venv/
venv/
*.tar.gz
taiwan_stock_price.csv
mysql.yml.swp
.mysql.yml.swp

# 自動產生的空 DB 檔
crawler.db
